{{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}


<a href="/events">Return</a>
<h1>{{event.title}}</h1>
<p>{{event.description}}</p>
<div id="map" class='map'></div>

{{#each comments}}
<div>
  <span><b> Name:</b> {{user.user}}</span>
  <label>Says:</label>
  <p>{{text}}</p>
  <form action="/events/del/{{id}}/{{event}}" method="POST">
    <button name='text'>Delete this Comment</button>
  </form>
  <form action="/events/edit/{{id}}/{{event}}" method="POST">
    <button name='text'>Edit this Comment</button>
  </form>
</div>
{{/each}}



<form action="/events/{{event.id}}" method="post">
  <label>Coment:</label>
  <textarea rows="10" cols="80" name="text"></textarea>
  <button type="submit">ADD</button>
</form>